---
layout: "slideshow"
permalink: "/slideshow1/"
---

<!-- Welcome slide -->
<div id="welcome" class="slide welcome">
  <div class="graphic">{% include graphics/bullet.html %}</div>
  <div class="heading padding-n padding-we">
    <h2 class="animate slide-up"><span>{{ site.data.slideshow1.welcome.title }}</span></h2>
    <div class="divider light"></div>
  </div>
  <div class="bottom">
    <div class="description padding-we padding-s animate fade">
      {{ site.data.slideshow1.welcome.description | markdownify }}
    </div>
    {% if site.data.slideshow1.welcome.cta %}
      <div class="cta animate slide-up">
        <span>
          {{ site.data.slideshow1.welcome.cta }}
        </span>
      </div>
    {% endif %}
  </div>
</div>

<!-- Your Giving Matters -->
{% for slide in site.data.slideshow1.donations.slides %}
  <div id="donation-{{ forloop.index }}" class="slide donations {{ slide.colour }}">
    <div class="information">
      <h2>Your Giving Matters</h2>
      <div class="divider dark margin-w"></div>
      <div class="donation-information">
        <p class="group animate fade">{{ slide.group }}</p>
        <p class="range animate slide-up"><span>{{ slide.range }}</span></p>
        <p class="range-hint animate fade">Cumulative giving / Dons cumulatifs</p>
      </div>
    </div>
    <div class="donors">
      {{ slide.names | markdownify }}
    </div>
  </div>
{% endfor %}